@use "../abstracts/functions" as functions;
@use "./../abstracts/mixins" as mixins;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Satoshi, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  @include mixins.margin-x(auto);
}

a {
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

main {
  flex: 1 0 auto;
  width: 100%;
}

img {
  @include mixins.image-size;

  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}