@use './functions' as functions;
@use './variables';

@mixin display-flex($align, $justify) {
  align-items: $align;
  display: flex;
  justify-content: $justify;
}

@mixin breakpoint($value) {
  // If the key exists in the map
  @if map-has-key(variables.$breakpoints, $value) {
    // Prints a media query based on the value
    @media screen and (min-width: map-get(variables.$breakpoints, $value)) {
      @content;
    }
  }
}
