/*
    Archive for variables
*/

// Variable Colors for map

$colors: (
  "primary": #2a254b,
  "secondary": #594d6d,
  "tertiary": #f9f9f9,
  "quartenary": #ebe8f4,
  "quinquenary": #4e4d93,
  "red": #e91b41,
  "white": #fff,
);
$fontWeight: (
  "thin": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
);
$breakpoints: (
  "sm": 375px,
  "smx": 475px,
  "md": 768px,
  "lg": 1220px,
  "xl": 1440px,
);
