@use "../variables";
@use "sass:map";
@use "sass:math";

// Function for get colors and insert array colors
@function css-color($color, $palette: variables.$colors) {
  @return map-get($palette, $color);
}

// Functions for insert font=weight in elements
@function css-weight($fontWeight, $arr: variables.$fontWeight) {
  @return map-get($arr, $fontWeight);
}

// PX to Rem transform function, value in function automatically entered as px and compiled to rem.
@function rem($value) {
  @return math.div($value, 16px) * 1rem;
}
