@use "../../abstracts/functions" as functions;
@use "../../abstracts/mixins" as mixins;

.p-products {
  @include mixins.center-block(functions.rem(1280px));
  padding-bottom: functions.rem(40px);

  &__title {
    @include mixins.font-size-line-height(functions.rem(32px), functions.rem(40px));
    @include mixins.padding-y(functions.rem(40px));
    color: functions.css-color("primary");
    font-weight: functions.css-weight("thin");
    text-align: center;

    @include mixins.breakpoint("md") {
      @include mixins.font-size-line-height(functions.rem(36px), functions.rem(44px));
      padding: functions.rem(80px) functions.rem(0) functions.rem(40px) functions.rem(0);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: functions.rem(64px);

    @include mixins.breakpoint("md") {
      gap: functions.rem(20px);
      grid-template-columns: repeat(4, 1fr);
      margin-top: functions.rem(48px);
    }
  }
}