@use "../abstracts/functions" as functions;
@use "../abstracts/mixins" as mixins;

.c-header {
  @include mixins.margin-y(functions.rem(25px));
  @include mixins.center-block(functions.rem(1353px));
  @include mixins.display-flex(center, space-between);
  @include mixins.padding-x(functions.rem(24px));

  width: 100%;

  @include mixins.breakpoint("lg") {
    @include mixins.padding-x(0);
  }
}
