@use "../abstracts/functions" as functions;
@use "../abstracts/mixins" as mixins;

.c-card {
  height: 100%;
  width: 100%;

  &__product {
    @include mixins.breakpoint("md") {
      max-width: functions.rem(305px);
    }
  }

  &__feature & {
    &__image {
      height: functions.rem(24px);
      margin-bottom: functions.rem(20px);
      width: functions.rem(24px);

      img {
        width: 100%;
      }
    }

    &__title {
      color: functions.color("primary");
      font-family: Satoshi, sans-serif;
      font-size: functions.rem(16px);
      font-weight: functions.weight("thin");
      line-height: 140%;
      text-align: start;

      @include mixins.breakpoint("md") {
        font-size: functions.rem(20px);
        line-height: 140%;
      }
    }

    &__description {
      color: functions.color("primary");
      font-family: Satoshi, sans-serif;
      font-size: 14px;
      line-height: 150%;

      @include mixins.breakpoint("md") {
        font-size: functions.rem(16px);
      }
    }
  }

  &__product & {
    &__wrapper {
      text-decoration: none;

      &:focus {
        color: functions.color("primary");
      }
    }

    &__image {
      max-width: 100%;
      height: functions.rem(375px);
      position: relative;
      display: block;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    &__title {
      color: functions.color("primary");
      font-size: functions.rem(20px);
      font-weight: functions.weight("thin");
      line-height: 140%;
      margin-top: 24px;

      @include mixins.breakpoint("md") {
        font-size: functions.rem(20px);
        line-height: 140%;
      }
    }

    &__price {
      color: functions.color("primary");
      font-size: functions.rem(18px);
      font-weight: functions.weight("thin");
      line-height: 150%;
      margin-top: functions.rem(8px);
    }
  }
}
