@use "../abstracts/functions" as functions;
@use "../abstracts/mixins" as mixins;

.c-card {
  @include mixins.width-height(100%);

  &__product {
    @include mixins.breakpoint("md") {
      max-width: functions.rem(305px);
    }
  }

  &__feature & {
    &__image {
      @include mixins.width-height(functions.rem(24px));

      margin-bottom: functions.rem(20px);
    }

    &__title {
      @include mixins.font-size-line-height(functions.rem(16px), functions.rem(24px));

      color: functions.css-color("primary");
      font-weight: functions.css-weight("thin");

      @include mixins.breakpoint("md") {
        @include mixins.font-size-line-height(functions.rem(20px), functions.rem(28px));
      }
    }
  }

  &__product & {
    &__wrapper {
      text-decoration: none;

      &:focus {
        color: functions.css-color("primary");
      }
    }

    &__image {
      max-width: 100%;
      height: functions.rem(375px);
      position: relative;
      display: block;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    &__title {
      @include mixins.font-size-line-height(functions.rem(16px), functions.rem(24px));
      @include mixins.line-clamp(2);

      color: functions.css-color("primary");
      font-weight: functions.css-weight("thin");
      margin-top: functions.rem(24px);

      @include mixins.breakpoint("md") {
        @include mixins.font-size-line-height(functions.rem(20px), functions.rem(28px));
      }
    }

    &__price {
      @include mixins.font-size-line-height(functions.rem(18px), functions.rem(26px));

      color: functions.css-color("primary");
      font-weight: functions.css-weight("thin");
      margin-top: functions.rem(8px);
    }
  }
}
