@use "../abstracts/functions" as functions;
@use "../abstracts/mixins" as mixins;

.c-feature {
  @include mixins.display-flex(center, center);

  flex-direction: column;
  margin-inline: auto;
  max-width: functions.rem(1280px);
  padding-block: functions.rem(45px);
  padding-inline: functions.rem(25px);

  &__title {
    font-size: 20px;
    font-weight: functions.weight("thin");
    padding-block: functions.rem(40px);
    width: 100%;

    @include mixins.display-flex(center, flex-start);

    @include mixins.breakpoint("md") {
      font-size: 24px;
      padding-block: functions.rem(50px);

      @include mixins.display-flex(center, center);
    }
  }

  &__wrapper {
    @include mixins.display-flex(center, center);

    flex-direction: column;
    gap: functions.rem(40px);
    width: 100%;

    @include mixins.breakpoint("md") {
      flex-direction: row;
      padding-block: functions.rem(60px) functions.rem(86px);
    }

    @include mixins.breakpoint("lg") {
      padding-inline: 0;
    }
  }
}
