@use '../abstracts/functions' as functions;
@use '../abstracts/mixins' as mixins;

.c-filters {
  &__container {
    @include mixins.center-block(functions.rem(1280px));
    column-gap: functions.rem(48px);
    width: 100%;
  }
}
