@use "../abstracts/functions" as functions;
@use "../abstracts/mixins" as mixins;

.c-products {
  @include mixins.display-flex(center, center);

  flex-direction: column;
  gap: functions.rem(40px);
  margin-inline: auto;
  max-width: functions.rem(1280px);
  padding-block: functions.rem(46px);
  padding-inline: functions.rem(25px);

  @include mixins.breakpoint("md") {
    padding-block: functions.rem(80px);
  }

  @include mixins.breakpoint("lg") {
    padding-inline: 0;
  }

  &__wrapper {
    display: grid;
    gap: functions.rem(16px);
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @include mixins.breakpoint("md") {
      @include mixins.display-flex(flex-start, space-between);

      gap: functions.rem(20px);
    }

    &--grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      article:first-of-type {
        grid-area: 1 / 1 / 2 / 3;
        max-width: 100%;
      }

      @include mixins.breakpoint("md") {
        gap: functions.rem(20px);
        grid-template-columns: repeat(4, 1fr);

        article:first-of-type {
          grid-area: 1 / 1 / 2 / 3;
          max-width: 100%;
        }
      }
    }
  }

  &__title {
    @include mixins.display-flex(center, flex-start);

    span {
      width: 100%;
    }

    color: functions.color("primary");
    font-size: functions.rem(20px);
    font-weight: functions.weight("thin");
    line-height: functions.rem(25px);
    width: 100%;

    @include mixins.breakpoint("md") {
      font-size: functions.rem(32px);
      line-height: functions.rem(39px);

      span {
        max-width: functions.rem(600px);
      }
    }
  }
}
