@use "../abstracts/functions" as functions;
@use "../abstracts/mixins" as mixins;

.c-signup {
  &__wrapper {
    @include mixins.display-flex(center, center);
    gap: functions.rem(0px);
  }

  &__input {
    @include mixins.padding-x(functions.rem(32px));
    background: functions.css-color("tertiary");
    border: none;
    height: functions.rem(56px);
    max-width: functions.rem(354px);
    outline: none;
    width: 100%;

    &::placeholder {
      opacity: 0.2;
    }
  }
}