@use "../abstracts/functions" as functions;
@use "../abstracts/mixins" as mixins;

.c-subscribe {
  background-color: functions.color("white");
  padding-block: functions.rem(60px);
  padding-inline: functions.rem(30px);

  @include mixins.breakpoint("md") {
    background-color: functions.color("tertiary");
    padding-inline: functions.rem(80px);
  }

  &__wrapper {
    background-color: functions.color("white");
    margin-inline: auto;
    max-width: functions.rem(1280px);
    padding-block: functions.rem(68px);

    @include mixins.breakpoint("md") {
      padding-inline: functions.rem(30px);
    }
  }

  &__title {
    font-size: functions.rem(20px);
    font-weight: functions.weight("thin");
    line-height: 140%;
    text-align: center;

    @include mixins.breakpoint("md") {
      font-size: functions.rem(36px);
      font-weight: functions.weight("thin");
      line-height: 140%;
    }
  }

  &__description {
    font-family: Satoshi, sans-serif;
    margin-inline: auto;
    max-width: functions.rem(470px);
    text-align: center;
    margin-top: functions.rem(16px);
  }

  &__button {
    margin-top: functions.rem(80px);
  }
}
