@use "../abstracts/functions" as functions;
@use "../abstracts/mixins" as mixins;

.c-subscribe {
  background-color: functions.css-color("white");
  padding: functions.rem(60px) functions.rem(30px);
  ;

  @include mixins.breakpoint("md") {
    background-color: functions.css-color("tertiary");
    @include mixins.padding-x(functions.rem(80px))
  }

  &__wrapper {
    background-color: functions.css-color("white");
    @include mixins.center-block(functions.rem(1280px));
    @include mixins.padding-y(functions.rem(68px));

    @include mixins.breakpoint("md") {
      @include mixins.padding-x(functions.rem(30px));
    }
  }

  &__title {
    @include mixins.font-size-line-height(functions.rem(20px), functions.rem(28px));
    font-weight: functions.css-weight("thin");
    text-align: center;

    @include mixins.breakpoint("md") {
      @include mixins.font-size-line-height(functions.rem(36px), functions.rem(44px));
      font-weight: functions.css-weight("thin");

    }
  }

  &__description {
    @include mixins.center-block(functions.rem(470px));
    text-align: center;
    margin-top: functions.rem(16px);
  }

  &__button {
    margin-top: functions.rem(80px);
  }
}