@use "../../abstracts/functions" as functions;
@use "../../abstracts/mixins" as mixins;

.baskets {
  background-color: functions.css-color("tertiary");
  min-height: 100%;
  padding: functions.rem(36px) functions.rem(24px);

  @include mixins.breakpoint("lg") {
    padding: functions.rem(85px);
  }

  &__container {
    @include mixins.center-block(functions.rem(1280px));

    @include mixins.breakpoint("lg") {
      background-color: functions.css-color("white");
      padding: functions.rem(72px) functions.rem(62px);
    }
  }

  &__wrapper {
    margin-bottom: functions.rem(20px);

    @include mixins.breakpoint("lg") {
      display: grid;
      flex-direction: column;
      grid-template-columns: repeat(5, 1fr);
      margin-bottom: functions.rem(32px);

      >div:first-of-type {
        grid-area: 1 / 1 / 2 / 4;
      }
    }
  }

  &__header {
    border-bottom: functions.rem(1px) solid functions.css-color("quartenary");
    display: none;
    margin-bottom: functions.rem(32px);
    padding-bottom: functions.rem(16px);

    @include mixins.breakpoint("lg") {
      display: grid;
    }
  }

  &__product,
  &__price {
    @include mixins.display-flex(flex-start, flex-start);

    gap: functions.rem(24px);
  }

  &__price {
    display: none;

    @include mixins.breakpoint("lg") {
      @include mixins.display-flex(flex-start, flex-end);

      span {
        padding-top: functions.rem(10px);
      }
    }
  }

  &__actions {
    &--desktop {
      display: none;
    }

    @include mixins.breakpoint("lg") {
      display: none;

      &--desktop {
        @include mixins.display-flex(flex-start, flex-end);
      }
    }
  }

  &__figure {
    height: functions.rem(155.16px);
    max-width: functions.rem(109px);
    overflow: hidden;
    width: 100%;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    @include mixins.font-size-line-height(functions.rem(16px), functions.rem(24px));

    color: functions.css-color("primary");
    font-weight: functions.css-weight("thin");
    margin-bottom: functions.rem(8px);

    @include mixins.breakpoint("lg") {
      @include mixins.font-size-line-height(functions.rem(20px), functions.rem(28px));
    }
  }

  &__description,
  &__rating {
    @include mixins.font-size-line-height(functions.rem(14px), functions.rem(22px));

    color: functions.css-color("primary");
    font-weight: functions.css-weight("thin");
    margin-bottom: functions.rem(8px);
  }

  &__footer {
    border-top: functions.rem(1px) solid functions.css-color("quartenary");
    padding-top: functions.rem(25px);
    text-align: end;

    @include mixins.breakpoint("lg") {
      @include mixins.display-flex(flex-start, space-between);

      flex-direction: row;
    }

    .c-button {
      @include mixins.breakpoint("md") {
        width: 100%;
      }

      @include mixins.breakpoint("lg") {
        width: max-content;
      }
    }
  }

  &__span {
    @include mixins.font-size-line-height(functions.rem(14px), functions.rem(22px));

    color: functions.css-color("quinquenary");
    font-weight: functions.css-weight("thin");
  }

  &__content {
    @include mixins.display-flex(flex-end, flex-end);
    @include mixins.font-size-line-height(functions.rem(20px), functions.rem(28px));

    color: functions.css-color("quinquenary");
    flex-direction: column;
    font-weight: functions.css-weight("regular");
    gap: functions.rem(16px);

    p {
      @include mixins.font-size-line-height(functions.rem(24px), functions.rem(32px));

      color: functions.css-color("primary");
    }
  }

  &__buttons {
    @include mixins.display-flex(center, flex-end);

    width: 100%;
  }

  &__remove {
    color: functions.css-color("red");
    cursor: pointer;
  }

  &__empty {
    @include mixins.display-flex(center, center);

    margin-bottom: functions.rem(20px);
    min-height: functions.rem(196px);

    @include mixins.breakpoint("lg") {
      min-height: functions.rem(155.16px);
      margin-bottom: functions.rem(32px);
    }

    span {
      color: functions.css-color("primary");
      font-weight: functions.css-weight("thin");
    }
  }

  &__subtotal {
    span {
      color: functions.css-color("primary");

      @include mixins.font-size-line-height(functions.rem(20px), functions.rem(28px));
    }

    span:first-of-type {
      @include mixins.font-size-line-height(functions.rem(20px), functions.rem(28px));

      color: functions.css-color("quinquenary");
      font-weight: functions.css-weight("thin");
      margin-right: functions.rem(16px);
    }
  }
}